/*
body {
  background-color: blue;
  div.grid {
    background-color: black;
    margin-left: 250px;
    .col-1-12 {
      margin-left: 250px;
    }

  }
}



.grid {
  background-color: blue;
}

.col-1-12 {
  border: 2px solid;
  width: 8.33%;
}

*/
